body{
    margin:0;
    padding:0;
    background-image: url(../image/bg.jpg);
}

.sort{
    /*text-align: center;*/
}

input[type="radio"]:checked{
    .radios{width: 20px;}
}
input[type="radio"]:disabled{

}

.box
{
    width:1270px;
    padding:20px;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    margin-top:10px;
}
.login{
    width:360px;
    margin:50px auto;
    font:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    border-radius:10px;
    border:2px solid #ccc;
    padding:10px 40px 25px;
    margin-top:70px;
}
input[type=text], input[type=password]{
    width:99%;
    padding:10px;
    margin-top:8px;
    border:1px solid #ccc;
    padding-left:5px;
    font-size:16px;
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
input[type=submit]{
    width:100%;
    /*background-color:#009;*/
    /*color:#fff;*/
    /*border:2px solid #06F;*/
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    margin-bottom:15px;
}



@media screen and (max-width: 1600px) {
    .pan-heading {width: 1300px;}
    .pan-body {width: 1300px;}
    .panel panel-default{width: 1300;}
}
@media screen and (max-width: 1280px) {
    .pan-heading {width: 1000px;}
    .pan-body {width: 1000px;}
    .panel panel-default{width: 1000;}
}
@media screen and (max-width: 1024px) {
    .pan-heading {width: 840px;}
    .pan-body {width: 840px;}
    .panel panel-default{width: 840;}
}

@media screen and (max-width: 768px) {
    #user_table {font-size: 14px;}
     .panel-body{
        margin-bottom: 20px;
        padding: 5px !important;
    }
    .container{
        padding: 5px !important;
    }
    .Id{
        width:40px !important;
    }
    .pan-body {width: 568px;}
    .panel panel-default{width: 568;}
}

@media screen and (max-width: 460px) {
    #user_table {font-size: 14px;
        padding: 0;
        margin: 0;}
    #user_table td{
        max-width: 60px;
        min-width: 10px;
        word-wrap: break-word;
    }
    .panel-body{
        margin-bottom: 50px;
        padding: 2px !important;
    }
    .container{
        padding: 1px !important;
    }
    .Id{
        width:20px !important;
    }


    .pan-heading {width: 345px;}
    .panel panel-default{width: 345;}
    /*body{font-size: 10px;}*/
}

